/* HEADER */

.carou {
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* HOME */

.navv {
    padding-left: 25px;
}

.part {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    height: auto;
}

.flex {
    position: relative;
}

.me {
    position: absolute;
    width: 150px;
}


.patern {
    width: 250px;
    position: relative;
    display: flex;
    padding-left: 20px;
    
}

.fa {
    display: flex;
}

.left {
    min-width: 50%;
}
.right {
    min-width: 50%;
}

.login {
    padding-right: 6px;
    border-right: solid 0.5px gray;
    color: black;
}

.register {
    padding-left: 6px;
    color: black;
    font-weight: bold;
}

.list-product {
    margin-bottom: 50px;
}


/* PRODUCT DETAILS */

.detail {
    margin-top: 40px;
    margin-bottom: 30px;
}

.body_de {
    margin-left: 100px;
    margin-right: 100px;
}

.body_detail {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: blanchedalmond;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 60px;
    border-radius: 25px;
}

.hash-tag {
    color: #ff9f00;
    border: 1px solid #ff9f00;
    padding: 3px 5px;
    border-radius: 20px;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    font-style: normal;
    font-weight: normal;
    margin-top: 8px;
}
ul, ol {
    list-style: none;
}
.capacity {
    display: block;
    overflow: hidden;
    margin: 0 0 20px;
}
.capacity ul li.active a {
    background: #1c1c1d;
    border: 1px solid #535353;
}
.capacity ul {
    display: block;
    overflow: hidden;
}
.capacity ul li {
    float: left;
    margin-right: 15px;
}
.capacity ul li a {
    display: block;
    overflow: hidden;
    color: #dbdbdb;
    background: #2f3033;
    border-radius: 8px;
    padding: 10px 12px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid transparent;
}
.active li a:hover {
    transition: .3s;
    background-color: #535353;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
.capacity span {
    display: block;
    overflow: hidden;
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 10px;
}

.price {
    display: flex;
    font-size: 26px;
    padding: 0 0 20px;
    align-items: center;
}

.wrap_border {
    border: 1px solid #e5e5e5;
}
.wrap_rating, .wrap_cmt {
    width: 680px;
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 30px;
}
.wrap_rating, .wrap_cmt {
    max-width: 680px;
    margin: 0 auto;
}
div {
    display: block;
}


/* LOGIN */

.border-login {
    border: 0.5px solid gray;
    margin-top: 130px;
    margin-bottom: 400px;
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom: 30px;
    border-radius: 45px;
}

.form {
    width: 45%;
    position: relative;
    margin: 30px;
    left: 350px;
    
}

.text-success {
    margin-top: 50px;
}

.text-mb {
    left: 20px;
    position: relative;
    left: -163px;
}

.label {
    font-size: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.button-login {
    position: relative;
    left: -33px;
}



/* REGISTER */

.border-register {
    border: 0.5px solid gray;
    margin-top: 70px;
    margin-bottom: 400px;
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom: 30px;
    border-radius: 45px;
}

.upload {
    height: 25px;
    font-size: 12px;
    padding-top: 1.5px;
}

/* FOOTER */

.mt-5 {
    padding-top: 20px;
    color: black;
}  

.footer-content {
    text-align: left;
}

.p-4 {
    color: black;
}